# This is a configuration file for running the imaging script for the specific source and date. It is used by imaging.py.
# Modify parameters in this config if you want to change the underlying correlation structure or modify any optimization parameters. Otherwise use main_conf.cfg

[base]

root_output_directory = __ROOT_OUTPUT_DIRECTORY__

# Seed to be used 
seed = __SEED__


# save strategy for VI: options are all, last. Note that for MAP we always save only the last iteration
save_strategy = all

# These parameters don't matter for our usecase, wgridding can be important for very big fov
epsilon = 1e-6
do_wgridding = False



[observation]
# Here you can specify the path to the uvf data file to be used. Comment this out or set to None if you want the script to automatically load the data based on the source name and date.
data_file = __DATA_FILE__

# Alternatively, if the computer has acess to the MOJAVE data repository, the script can use the source name and date to automatically load the data.
# e.g. source_name = 0506+056
source_name = __SOURCE_NAME__

# in YYYY_MM_DD format, e.g. 2010_12_21
date = __DATE__

# visibility type to use for imaging. Options: uvf_raw, uvf_raw_edt, uvf. uvf_raw is not implemented yet
visibility_type = __VISIBILITY_TYPE__

# systematic error to add to the visibilities, e.g. 0.03 for 3% systematic errors. Reasonable values are in 0.01-0.05 range
sys_error_percentage = 0.03

spectral_window = 0
polarizations = stokesi

[sky]
freq mode = single
polarization = I

# in mas/pixel
pixscale = __PIXSCALE__

# number of pixels is taken from the CLEAN map by default, so the fov of the map is around 1/2th of the full CLEAN map (for pixelscale of 0.05)
n_pixels_x = __N_PIXELS_X__
n_pixels_y = __N_PIXELS_Y__

# the following values are generally okay for most cases. Check out resolve and nifty documentation for more details on specific parameters

# zero mode offset is estimated from the data itself
# stokesI diffuse space i0 zero mode offset = 35.0
stokesI diffuse space i0 zero mode mean = 1.0
stokesI diffuse space i0 zero mode stddev = 0.1
stokesI diffuse space i0 fluctuations mean = 3.0
stokesI diffuse space i0 fluctuations stddev = 1.0
stokesI diffuse space i0 flexibility mean = None
stokesI diffuse space i0 flexibility stddev = None
stokesI diffuse space i0 asperity mean = None
stokesI diffuse space i0 asperity stddev = None
stokesI diffuse space i0 loglogavgslope mean = -3.0
stokesI diffuse space i0 loglogavgslope stddev = 0.5


[gain_phase]
gain_phase time zero mode offset = 0.0
gain_phase time zero mode mean = 0.2
gain_phase time zero mode stddev = 0.1

gain_phase time fluctuations mean = 0.2
gain_phase time fluctuations stddev = 0.1
gain_phase time flexibility mean = None
gain_phase time flexibility stddev = None
gain_phase time asperity mean = None
gain_phase time asperity stddev = None
gain_phase time loglogavgslope mean = -3.0
gain_phase time loglogavgslope stddev = 0.5
solution_interval = 10
diff_correlation_kernels = True
uncorrelated_gain_phase = False
uncorrelated_gain_phase_amp = 0.1


[gain_logamplitude]
gain_logamplitude time zero mode offset = 0.0
gain_logamplitude time zero mode mean = 1e-2
gain_logamplitude time zero mode stddev = 1e-3

gain_logamplitude time fluctuations mean = 0.2
gain_logamplitude time fluctuations stddev = 0.1
gain_logamplitude time flexibility mean = None
gain_logamplitude time flexibility stddev = None
gain_logamplitude time asperity mean = None
gain_logamplitude time asperity stddev = None
gain_logamplitude time loglogavgslope mean = -3.0
gain_logamplitude time loglogavgslope stddev = 0.5
diff_correlation_kernels = True


[optimization]
ic_samplilng_iter_lim = 800
ic_VL_BFGS_iter_lim_1 = 50
ic_VL_BFGS_iter_lim_2 = 100
ic_newton_iter_lim_3 = 15
ic_newton_iter_lim_4 = 20
ic_sampling_nl_iter_lim = 5

# Whether to use MAP result as a starting point for VI or not. Possible values: True, False
map = __MAP__

n_iterations_map = __N_ITERATIONS_MAP__
n_iterations_vi = __N_ITERATIONS_VI__

n_samples_vi = __N_SAMPLES_VI__