# Main config for the greedy imaging. Used by run_greedy_imaging.py. 

[base]
# Specifies the number of threads to be used for the run. For maximum performance this number should be >= (n_map_runs + n_vi_standalone_runs)
n_threads = 7

# Specifies the imaging config to be used by imaging.py
imaging_config = ./imaging_conf.cfg

# Specifies the main directory where the results are stored, it is created if it does not already exist. 
# Save files for articular epochs are located at root_output_directory/output_files/{source_name}/{dir_name}
# Images are located at root_output_directory/images/{source_name}/{dir_name}
root_output_directory = ./results

# Specifies the name of subdirectory where the results of the run are stored. If None, the name is taken from the data file name
dir_name = None

[observation]
# Here you can specify the path to the uvf data file to be used. Comment this out or set to None if you want the script to automatically load the data based on the source name and date.
data_file = /path/to/file.uvf_raw_edt

# Alternatively, if the computer has acess to the MOJAVE data repository, the script can use the source name and date to automatically load the data.
# e.g. source_name = 0506+056. If data file is specified, this is ignored
source_name = 0506+056

# In YYYY_MM_DD format, e.g. 2010_12_21. If data file is specified, this is ignored
date = 2010_07_12

# Visibility type to use for imaging. Options: uvf_raw, uvf_raw_edt, uvf. uvf_raw is not implemented yet. If data file is specified, this is ignored
visibility_type = uvf_raw_edt

[sky]
# In mas/pixel. Value of 0.05 is near a sweet spot, around 1/10th of the CLEAN beam size
pixscale = 0.05

# Number of pixels is taken from the CLEAN map by default, so the fov of the map is around 1/2th of the full CLEAN map (for pixelscale of 0.05)
# For the default behaviour set both to 0. For custom map sizes just replace 0 with the desired number of pixels 
n_pixels_x = 0
n_pixels_y = 0


[optimization]
# Number of iterations for MAP and VI optimizations, 20 is usually a sweet spot
n_iterations_map = 20
n_iterations_vi = 20

# Number of samples for VI run. Effective number of the samples is 4 times this value in the end.
# This is done for stability purposes, so fewer samples -> more samples as the VI optimization progresses
n_samples_vi = 10

# Number of VI runs that are performed on top of MAP estimations. Maximal reasonable value is around 10.
n_map_runs = 5

# Number of VI runs that are performed starting from the random gaussian prior. Maximal reasonable value is around 10.
n_vi_standalone_runs = 2
